{#=====================================================
  About page (DEMO)
  - Information about Flask
  - Information about Jinja
  - Information about Turso
  - Information about PicoCSS
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Workshop website - Admin Page

{% endblock %}


{% block content %}

    <article id="bar">
        <span>
            <h3>Name of Workshop</h3>
        </span>
        <span>
            <h3>Name of Atendee</h3>
        </span>
        <span>
            <h3>Phone Number of Attendee</h3>
        </span>
        <span>
            <h3>Email of Atendee</h3>
        </span>
    </article>

    <article>
        {% for register in registers %}
            <ul>
                <li>
                    <span>
                        {{ register.w_name }}
                    </span>
                    <span>
                        {{ register.p_name }}
                    </span>
                    <span>
                        {{ register.phone }}
                    </span>
                    <span>
                        {{ register.email }}
                    </span>
                </li>
            </ul>
        {% endfor %}
    </article>
    <a href="/" role="button">Home</a>

{% endblock %}

