{#=====================================================
  About page (DEMO)
  - Information about Flask
  - Information about Jinja
  - Information about Turso
  - Information about PicoCSS
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Workshop website - Admin Page

{% endblock %}


{% block content %}

    <article>
        <span>
            <h1>Name of Workshop</h1>
        </span>
        <span>
            <h1>Name of Atendee</h1>
        </span>
        <span>
            <h1>Phone Number of Attendee</h1>
        </span>
        <span>
            <h1>Email of Atendee</h1>
        </span>
    </article>

{% endblock %}

