{#=====================================================
  Delete workshop page
  - list of workshops to delete
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Workshop website - Home

{% endblock %}


{% block content %}

    <a href="/admin" role="button">back</a>
    {# main loop to show all the workshops that you can delete #}
    <article>

        <ul>
            {% for workshop in workshops %}

                <li>
                    <a href="/delete/{{ workshop.id }}">
                        {{ workshop.name }} workshop
                    </a>
                </li>

            {% else %}

                <p>None!</p>

            {% endfor %}
        </ul>

    </article>


{% endblock %}

