{#=====================================================
  Home page
  - Hero style greeting banner
  - List of workshops passed in as 'workshop' array
  - links to admin page and individual workshop pages
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Workshop website - Home

{% endblock %}


{% block content %}
{# head section #}
    <head>
        <article id="title">

            <h1>Workshop Organiser 3000</h1>

            {% if session["logged_in"] %}
                <a href="/admin" role="button">Admin</a>
            {% else %}
                <a href="/log-in" role="button">Log In</a>
            {% endif %}
        </article>
    </head>

    <article id="main_list">
        {# this loop that lists all workshops #}
        <ul>
            {% for workshop in workshops %}

                <li id="record">
                    <div>
                        <a href="/workshop/{{ workshop.id }}" role="button" id="link">
                            see more
                        </a>
                    </div>
                    <div id="name">
                        {{ workshop.name }} workshop
                    </div>
                </li>

            {% else %}

                <p>None!</p>

            {% endfor %}
        </ul>

    </article>


{% endblock %}

