{#=====================================================
  Things list page
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Workshop website - New Workshop

{% endblock %}


{% block content %}

    <article>

        <form action="/register" method="POST">

            <input
                type="text"
                name="name"
                placeholder="Enter Your Name"
                required
            >

            <input
                type="number"
                name="phone"
                placeholder="Enter Your Phone number"
                required
            >

            <input
                type="text"
                name="email"
                placeholder="Enter Your Email"
                required
            >           

            <button>Add the Thing</button>

        </form>

    </article>

{% endblock %}

