{#=====================================================
  new workshop page
  - Form for adding a new workshop
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Workshop website - New Workshop

{% endblock %}


{% block content %}

    <a role="button" href="/admin">back</a>

    <article>

        <form action="/workshop" method="POST">

            <input
                type="text"
                name="name"
                placeholder="Enter Workshop Name"
                required
            >

            <input
                type="text"
                name="person"
                placeholder="Enter Person Running Workshop"
                required
            >

            <input
                type="text"
                name="date"
                placeholder="Enter Date of Workshop (e.g. 4th August)"
                required
            >

            <input
                type="text"
                name="place"
                placeholder="Enter Place of Workshop"
                required
            >

            <input
                type="text"
                name="time"
                placeholder="Enter Time of Workshop (e.g. 5pm-7pm)"
                required
            >           

            <button>Add the Workshop</button>

        </form>

    </article>

{% endblock %}

