{#=====================================================
  Register page
  - Form to register for a specific workshop
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Workshop website - Register

{% endblock %}


{% block content %}

    <article>

        <form action="/register/{{ id }}" method="POST">

            <input
                type="text"
                name="name"
                placeholder="Enter Your Name"
                required
            >

            <input
                type="number"
                name="phone"
                placeholder="Enter Your Phone number"
                required
            >

            <input
                type="text"
                name="email"
                placeholder="Enter Your Email"
                required
            >           

            <button>Register</button>

        </form>

    </article>

{% endblock %}

