{#=====================================================
  registers page
  - Shows all current registers
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Workshop website - One workshop

{% endblock %}


{% block content %}

    {# shows all the people attending the workshop #}
    <article>
    <h3>All Registers</h3>
        <table>
            <thead>
                <tr>
                    <th>Name of Workshop</th>
                    <th>Name of Attendee</th>
                    <th>Last Name of Attendee</th>
                    <th>Phone Number of Attendee</th>
                    <th>Email of Attendee</th>
                </tr>
            </thead>
            <tbody>                
                {% for register in registers %}
                    <tr>
                        <td>
                            <p>{{ register.w_name }}</p>
                        </td>
                        <td>
                            <p>{{ register.f_name }}</p>
                        </td>
                        <td>
                            <p>{{ register.l_name }}</p>
                        </td>
                        <td>
                            <p>{{ register.phone }}</p>
                        </td>
                        <td>
                            <p>{{ register.email }}</p>
                        </td>
                    </tr>
                {% else %}
    
                        <p>None!</p>
    
                {% endfor %}
            </tbody>
        </table>
    </article>

        <article>
    <h3>Unregistered Workshops</h3>
        <ul>                             
            {% for workshop in unregistered %}
                <li>{{ workshop.name }}</li>      
            {% endfor %}
        </ul>  
    </article>

    <span>
        <a role="button" href="/admin/">Back</a>
    </span>


{% endblock %}

