{#=====================================================
  Register page
  - Form to register for a specific workshop
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Workshop website - Register

{% endblock %}


{% block content %}

    <article id="register">
        {# form to register for a workshop #}
        <form action="/register/{{ id }}" method="POST">

            <input
                type="text"
                name="f_name"
                placeholder="Enter Your First Name"
                required
            >
            <input
                type="text"
                name="l_name"
                placeholder="Enter Your Last Name"
                required
            >

            <input
                type="number"
                name="phone"
                placeholder="Enter Your Phone number"
                required
            >

            <input
                type="text"
                name="email"
                placeholder="Enter Your Email"
                required
            >           
                <button>Register</button>

        </form>
        <a href="/" role="button" id="back">Back</a>
    </article>

    <article>
        <p>This form only collects the information needed to be able to effectively and efficiently organize the workshops.</p>
    </article>

{% endblock %}

