{#=====================================================
  workshop page
  - Shows details of a single workshop
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Workshop website - One workshop

{% endblock %}


{% block content %}

    <span>
        <a role="button" href="/">home</a>
    </span>


    <article>

        <header>
            <h3>{{ workshop.name }}</h3>
        </header>

        <p>Run By: <strong>{{ workshop.person }}</strong></p>

        <p>Place: <strong>{{ workshop.place }}</strong></p>

        <p>Date and Time: <strong>{{ workshop.date }}, {{ workshop.time }}</strong></p>

    </article>

    <span>
        <a role="button" href="/register/{{ workshop.id }}">Register</a>
    </span>


{% endblock %}

