{#=====================================================
  workshop page
  - Shows registers for a single workshop
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Workshop website - One workshop

{% endblock %}


{% block content %}

    {# shows all the people attending the workshop #}
    <article>
    <h3>{{ w_name }} Workshop</h3>  
        <table>
            <thead>
                <tr>
                    <th>Name of Attendee</th>
                    <th>Last Name of Attendee</th>
                    <th>Phone Number of Attendee</th>
                    <th>Email of Attendee</th>
                </tr>
            </thead>
            <tbody>                
                {% for register in registers %}
                    <tr>
                        <td>
                            <p>{{ register.name }}</p>
                        </td>
                        <td>
                            <p>{{ register.last_name }}</p>
                        </td>
                        <td>
                            <p>{{ register.phone }}</p>
                        </td>
                        <td>
                            <p>{{ register.email }}</p>
                        </td>
                        {% else %}
                            {% for i in range(4) %}
                                <td>
                                    <p>None!</p>
                                </td>
                            {% endfor %}
                {% endfor %}
                    </tr>   
            </tbody>
        </table>
        
        <h5 id="">People Attending: {{ attending }}</h5>
    </article>

    <span>
        <a role="button" href="/admin/">Back</a>
    </span>


{% endblock %}

