{#=====================================================
  workshop page
  - Shows details of a single workshop
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Workshop website - One workshop

{% endblock %}


{% block content %}

    <span>
        <a role="button" href="/">home</a>
    </span>

    {# shows all the people attending the workshop #}
    <article>
    <h3>{{ register.w_name }}</h3>
        <table>
            <thead>
                <tr>
                    <th>Name of Attendee</th>
                    <th>Last Name of Attendee</th>
                    <th>Phone Number of Attendee</th>
                    <th>Email of Attendee</th>
                </tr>
            </thead>
            <tbody>                
                {% for register in registers %}
                <tr>
                    <td>
                        {{ register.f_name }}
                    </td>
                    <td>
                        {{ register.l_name }}
                    </td>
                    <td>
                        {{ register.phone }}
                    </td>
                    <td>
                        {{ register.email }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h5>People Attending: {{ attending }}</h5>
    </article>

    <span>
        <a role="button" href="/admin/">Back</a>
    </span>


{% endblock %}

