{#=====================================================
  workshop page
  - Shows details of a single workshop
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Workshop website - One workshop

{% endblock %}


{% block content %}

    <span>
        <a role="button" href="/">home</a>
    </span>


    <article>

        <header>
            <h3>{{ workshop.name }}</h3>
        </header>

        <p>Run By: <strong>${{ workshop.person }}</strong></p>

        <p>Place: <strong>${{ workshop.place }}</strong></p>

        <p>date and time: <strong>${{ workshop.date }}</strong></p>

    </article>

    <span>
        <a role="button" href="/thing/form/">Go to form!</a>
    </span>


{% endblock %}

