{#=====================================================
  workshop page
  - Shows details of a single workshop
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Workshop website - One workshop

{% endblock %}


{% block content %}

    <span>
        <a role="button" href="/">home</a>
    </span>

    {# shows all the details of the workshop #}
    <article>

        <header>
            <h3>{{ workshop.name }} Workshop</h3>
        </header>

        <p><strong>Run By:</strong> {{ workshop.person }}</p>

        <p><strong>Place:</strong> {{ workshop.place }}</p>

        <p><strong>Date and Time:</strong> {{ workshop.date | nicedate }}, {{ workshop.start_time | nicetime }}-{{ workshop.end_time | nicetime }}</p>

    </article>

    <span>
        <a role="button" href="/register/{{ workshop.id }}">Register</a>
    </span>


{% endblock %}

